@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
html,body{font-family: "Noto Sans KR", sans-serif; color: #333;}


.container{display: flex; flex-direction: column; background-color: hsl(0, 0%, 100%);}
.header{width: 100vw; height: 100px; position: absolute; display: flex; justify-content: space-between; padding: 10px 70px; box-sizing: border-box;transition: all 0.5s; }
.title{width: 100%; box-sizing: border-box; margin-top: 30px; position: relative;}
.title::before{content: "Contemporary Art Works"; display: block; font-size: 14px ; color: #111;  position: absolute; top: -20px; left: 4px;}
.logo{color: #111; font-size: 45px; line-height: 50px; font-weight: 700; letter-spacing: -2px;}
.logo>span{font-size: 28px; font-weight: 900; top: -100px; left: 4px; letter-spacing: -1px;}

.sns{display: flex; flex-direction: column; width: 110px; justify-content: space-between; color: #111; padding-top: 25px; margin-bottom: -10px;}
.sns>li{ font-size: 13px;  margin: 0 5px; }
.sns>li>i{padding-right: 7px; font-size: 14px;}
.sns>li:hover{cursor: pointer; font-weight: 900;}

.contents{width: 100%; min-height: 100vh; box-sizing: border-box; padding: 110px 50px;}
.btns{display: flex; flex-direction: row-reverse; justify-content: center;}
.btns>li{margin-right: 2vW; width: 100px; height: 26px; color: #111; background-color: #FFF; text-align: center; font-size: 14px; font-weight: 700; line-height: 25px; letter-spacing: 1px; cursor: pointer; border-bottom: #FFF 6px solid;}
.active{font-weight: 900 !important; border-bottom: #111 6px solid !important; }

.box_wrap{display: flex; flex-wrap: wrap; box-sizing: border-box; margin-top: 20px; margin-left: 15px;}
.box{width: 20%; box-sizing: border-box; padding: 0px;}
.inner{padding: 14px; background-color: #FFF; box-sizing: border-box; width: 100%; height: 100%; overflow: hidden;}
.inner a{display: block;}
.inner img{width: 100%;}
.inner>a p:nth-of-type(1){font-size: 14px; font-weight: 500; color: #333;}
.inner>a p:nth-of-type(2){font-size: 12px; color: #999;}

@media all and (max-width:1600px){
    .box{width: 25%}
}

@media all and (max-width:1200px){
    .box{width: 30%}
    .header{width: 100%; height: 90px; padding: 0 30px; flex-direction: row; position: absolute;}
    .contents{padding: 110px 0px;}
    .title{margin-top: 20px; margin-left: 15px;}
    .logo{font-size: 30px; letter-spacing: 0.5px;}
    .title::before{display: none;}
    .sns{width: 150px; align-items: center; margin-top: 22px;flex-direction: unset;}
    .sns>li{width: 30px; overflow: hidden;}
    .sns>li i{font-size: 17px;}
    .sns_b{display: none;}
    
}
@media all and (max-width:680px){
    .logo{font-size: 20px; letter-spacing: 0.5px;}
    .box{width: 50%}
    .container{align-items: center;}
    .sns{display: none;}
}

@media all and (max-width:540px){
    .logo{font-size: 15px; letter-spacing: 0.5px;}
    .box{width: 100%}
    .btns{justify-content: space-between;}
    .btns>li{width: 30%;}
}
